.bglogin{
    background-image: url('https://thumbs.dreamstime.com/b/restaurant-menu-background-template-vector-illustration-eps-55048750.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}